<header class="py-2" style="background-color: #89ebd4;">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand fw-bold fs-3" href="#" style="color: #0a100f;">
        Signal
      </a>

    

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto gap-3">
          <li class="nav-item">
            <a
              class="nav-link fw-medium"
              routerLink="/"
              routerLinkActive="fw-semibold"
            
              style="color: #0a100f;"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-medium"
              routerLink="/courses/courses-list"
              routerLinkActive="fw-semibold"
              style="color: #0a100f;"
              >Courses</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fw-medium"
              routerLink="/courses/create-course"
              routerLinkActive="fw-semibold"
              style="color: #0a100f;"
              >Add Course</a
            >
          </li>
        </ul>

        <!-- Right Section -->
        <div class="d-flex align-items-center gap-2">
          <button
            class="btn fw-semibold px-4 py-2 border-0"
            style="background-color: #49caac; color: #f1f9f7;"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
